//<footer>=====================================================
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 182px;
  margin-top: 82px;
  //.footer__container
  &__container {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  //.footer__item
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 240px;
  }
  //.footer__icon
  &__icon {
    width: 31px;
  }
  //.footer__copyright
  &__copyryght {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
  }
}
//<footer>=====================================================